<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Pokémon</title>
        <link rel="icon" href="https://img.icons8.com/color/50/000000/pokeball.png" type="image/x-icon" />
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>